
/* Reset
================================================== */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
    
/* Default styles
================================================== */   
body{
    font-family: helvetica, arial, sans-serif;
    background-color: #eee;
    line-height: 1.5em;
    color: #333;
    font-size: 14px;
}

a,
a:link,
a:active,
a:visited,
a:hover{
    color: black;
    text-decoration: underline;
}
a:hover{
    text-decoration: none;
}


canvas, img, video{    
    border:none;
    background:none;
}


#thumbtoggle{
    position: absolute;
    display:block;
    padding: 5px 10px;
    background: black;
    color: white;
    left: 10px;
    bottom: 10px;
    z-index: 1000;
    text-decoration:none;
}

#header{
    background: #181818 url(../images/mark.png) no-repeat 20px center;
    color: #fff;
    padding: 10px;
}
#header h3{
    color: #fff;
    display:inline;
    line-height: 1em;

}
#header a:link,
#header a:active,
#header a:visited,
#header a:hover{
    font-weight:bold;
    text-decoration:none;
    color: #fff;
    padding-left: 35px;
}
#header span{
    color: #666;
    margin-left: 10px;
}

#header a.source,
#header a.source:link,
#header a.source:active,
#header a.source:visited,
#header a.source:hover{
    font-weight: normal;
    float: right;
    text-decoration: underline;
    color: #666;
}
#header a.source:hover{
    color: #fff;
}

#container{
    max-width: 860px;
    min-width: 860px;
    margin: 0 auto; 
    padding: 40px 0;
}

#video-container{
    background: white;
    position: relative;
    float: left;
    border: 1px solid red;
    border: 1px solid #ddd;
    box-shadow: #e3e3e3 0 1px 1px;
    width:502px;
    height: 382px;
    min-height: 100px;
    padding: 10px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;

}

#video-container .live{
    position: absolute;
    width: 12px;
    height: 12px;
    background: red;
    border-radius: 6px;
    left: 20px;
    top: 20px;
    display:none;
}


#controller{
    padding: 20px;
    text-align: center;
}

#video-container img{
    width: 100%;
    height: auto;
}

#chat-container{
    width: 320px;
    float: right;
    border: 1px solid #ddd;
    box-shadow: #e3e3e3 0 1px 1px;
    background-color: white;
    height: 380px;
    position: relative;
}

#chat{
    height: 324px;
    overflow: scroll;
    background: white;
    padding: 0 10px; 
    font-family: arial, sans-serif;
    line-height: 1.5em;
}

#chat li{
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    line-height: 150%;
}

#chat li span.nick {
    font-weight: bold;
    display: inline-block;
    margin: 0 5px;
}

#chat li span.time {
    font-weight: bold;
    display: inline-block;
    color: #999;
    font-size: 14px;
    font-family: monospace;
}

#chat li span.prefix {
    font-weight: bold;
    display: inline-block;
    margin-right: 5px;
    font-size: 14px;
    color: #FF5033;
    font-weight: monaco, monospace;
}

#chat li.error {
    color: red;
}

#chat li.info {
    color: #666;
}

#chat-container #msg_form{
    padding: 8px;
    position: absolute;
    border-top: 1px solid #ddd;
    width: 100%;
    background: white;
    bottom: 0;
    left: 0;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}

#chat-container .field{
    border: 1px solid #ddd;
    width: 60%;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    padding: 10px;
    font-size: 1em;
    font-family: arial, sans-serif;
    line-height: 1em;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}

#chat-container .submit{
    display: block;
    boz-sizing: border-box;
    width: 35%;
    float: right;
    padding: 10px;
    margin: 0;
    outline:none;
}


#streams-container{
    padding: 5px 5px;
    background: white;
    border: 1px solid #ddd;
    box-shadow: #e3e3e3 0 1px 1px;
    position: relative;
}

#streams-container h3{
    position: absolute;
    text-align: center;
    width: 100%;
    top: 40%;
    font-size: 1.2em;
    color: #ccc;
    z-index: 3;
}

#streams{
    clear: both;
    min-height: 173px;
    position: relative;
    z-index: 4;
}   

#streams li{
    padding: 5px;
    margin: 5px;
    border: 1px solid #eee;
    float: left;
    position: relative;
    background: white;
}

#streams li.selected{
    border: 1px solid #FF5943;
}

#streams li:hover{
    border: 1px solid #ccc;
}

#streams li.selected:hover{
    border: 1px solid #FF5943;
}

#streams li a{
    display: block;
    background: #333 url(../images/loader-small.gif) no-repeat center center;
    width: 160px;
    height: 120px;
    overflow:hidden;

}

#streams li a img{
    display: block;
    width: 100%;
    height: auto;
}

#streams li .name{
    padding: 5px;
    display: block;
    text-align: center;
    font-weight: bold;
}

#streams li .msg{
    background: rgba(0,0,0,.5);
    position: absolute;
    top: -20px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    color: white;
    width: 160px;
    left: 50%;
    margin-left: -85px;
    pointer-events: none;
    display:none;
}

#subtitle{
    
    width: 200px;
    padding: 10px 10px;
   
    margin-left: -100px;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    
    text-shadow: 1px 1px #000000;
    background: rgba(0,0,0,.8);
    display:none;
}
 
#subtitle span{
    display: inline-block;
}

#subtitle.loading span{
    background: url(../images/loader-dark.gif) no-repeat center top;
    padding-top: 40px;
}


#drawing{
    display:none;
}

#playback{
    display: block;
}

#live{
    display:none;
}

#stats{ 
    position: absolute; 
    top:0; 
    left: 0; 
}

button{
    font-family: arial, sans-serif;
    font-weight: bold;
    padding: 10px 24px;
    font-size: 1em;
    line-height: 1em;
    cursor:pointer;
}

button.disabled{
    opacity: .5;
}

button.regular:hover{
    border-color: #999;
}

button.regular{

    border: 1px solid #bbb;
    background: #e5e5e5;
    background: -moz-linear-gradient(top, #f8f8f8 0%, #e5e5e5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #e5e5e5));
    background: -webkit-linear-gradient(top, #f8f8f8 0%, #e5e5e5 100%);
    background: -o-linear-gradient(top, #f8f8f8 0%, #e5e5e5 100%);
    background: -ms-linear-gradient(top, #f8f8f8 0%, #e5e5e5 100%);
    background: linear-gradient(to bottom, #f8f8f8 0%, #e5e5e5 100%);
    box-shadow: #e0e0e0 0 2px 2px,inset #fefefe 0 1px 1px;
    color: #444;
    text-shadow: #efefef 0 1px 0;
    position: relative;
    outline:none;
}

/* Grid
================================================== */   
.grid{
    padding: 0 10px;
}

.grid .one-half,
.grid .one-third,
.grid .one-fourth,
.grid .one-third,
.grid .one-sixth{
    float:left;
    padding:25px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.grid .one-half .image,
.grid .one-third .image,
.grid .one-fourth .image,
.grid .one-third .image,
.grid .one-sixth .image{
    display: block;
    background-color: red;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.grid .one-half{
    width: 50%;
}
.grid .one-third{
    width: 33.333%;
}
.grid .one-fourth{
    width: 25%;
}
.grid .one-fifth{
    width: 20%;
}
.grid .one-sixth{
    width: 15%;
}

/* Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    #container{
        max-width: 100%;
        min-width: 100%;
        width: 100%;
        margin: 0 0; 
        padding: 0 0;
    }

    #video-container{
        float:none;
        width: 320px;
        height: 240px;
        margin: 10px auto 0 auto;
    }

    #chat-container{
        float: none;
        width: auto;
        height: 200px;
        margin: 10px 5px 0 5px;
    }

    #chat-container #chat{
        height: 144px;
    }

    #streams{
        text-align: center;
    }

    #streams li{
        float:none;
        display:inline-block;
    }

    #live{
        width: 298px;
        height: 218px;
        display: block;
    }

    #video-container img,
    #playback{
        width: 298px;
        height: 218px;
    }
    
    #streams-container{
        margin: 0 5px;
    }
    #header span{
        display:none;
    }

    #header .source{
        display:none;    
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
}

/* Clearfix
================================================== */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

